@charset "UTF-8";
/***********************************************************************************/
/*                                                                                 */
/*                           Customize your css here                               */
/*                                                                                 */
/***********************************************************************************/
#main .section-1 .slide_home .flickity-button {
  width: 38px;
  height: 31px;
  opacity: 1;
  min-height: 31px;
  top: 50%;
  bottom: unset;
  transform: translateY(-50%) !important;
}
#main .section-1 .slide_home .flickity-button .flickity-button-icon {
  display: none;
}
#main .section-1 .slide_home .flickity-button.previous {
  background: url(../../img/icons/pngtree-left-doodle.png) no-repeat;
  background-size: 100% 100%;
}
#main .section-1 .slide_home .flickity-button.next {
  background: url(../../img/icons/pngtree-right-doodle.png) no-repeat;
  background-size: 100% 100%;
}
#main .section-1 .slide_home .flickity-page-dots .dot {
  width: 9px;
  height: 9px;
  background: url(../../img/icons/cham.png);
  border: unset;
  border-radius: 50%;
  opacity: 1;
  margin: 0 3px;
}
#main .section-1 .slide_home .flickity-page-dots .dot.is-selected {
  width: 9px;
  height: 12px;
  background: url(../../img/icons/cham-active.png) no-repeat;
}
#main .section-2 .VideoWebsite {
  position: relative;
}
#main .section-2 .VideoWebsite ._1blk {
  position: absolute;
  left: 50%;
  transform: translateX(calc(-50% - 20px));
  bottom: 90px;
}
#main .section-2 .LabelSubTitle.green_mark {
  width: 178px;
  height: 43px;
  background: url(../../img/green_mark.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .section-2 .LabelSubTitle.green_mark ._5bsk {
  color: var(--Primary-2, #5C8920);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-2 .s2_r1_c2_text h2 {
  color: var(--Primary-3, #939598);
  font-size: 32px;
  font-weight: 900;
}
#main .section-2 .s2_r1_c2_text p {
  color: var(--Neutral-1, #414141);
  font-size: 15px;
  line-height: 22px; /* 146.667% */
}
#main .section-3 {
  padding-bottom: 120px;
}
#main .section-3 .s3_r1 .LabelSubTitle.yellow_mark {
  width: 178px;
  height: 43px;
  background: url(../../img/yellow_mark.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .section-3 .s3_r1 .LabelSubTitle.yellow_mark ._5bsk {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-3 .s3_r1 .LabelSubTitle.center_mark {
  margin: 0 auto;
  margin-bottom: 12px;
}
#main .section-3 .s3_r1 .heading_home h2 {
  color: var(--Primary-1, #F2BF0F);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
#main .section-3 .BoxChuongTrinh {
  border-radius: 29px;
  border: 3px solid #FFF;
  position: relative;
}
#main .section-3 .BoxChuongTrinh ._4vle {
  max-height: 335px;
}
#main .section-3 .BoxChuongTrinh ._2qse {
  position: relative;
  z-index: 2;
  margin-top: -85px;
  background-image: url(../../img/bg_box.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 320px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd {
  position: relative;
  top: -40px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._5nld {
  width: 135px;
  height: 64px;
  text-align: center;
  margin: 0 auto;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._5nld span {
  color: var(--Neutral-0, #1F1F1F);
  font-size: 15px;
  font-weight: 800;
  line-height: 70px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._1ebl {
  width: 103px;
  height: 26px;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 4px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._1ebl span {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._2cpd {
  text-align: center;
  margin-bottom: 8px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._2cpd span {
  font-size: 23px;
  font-weight: 700;
  line-height: 38px;
}
#main .section-3 .BoxChuongTrinh ._2qse ._6wjd ._1ehf {
  color: var(--Neutral-1, #414141);
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 20px;
  padding-right: 20px;
}
#main .section-3 .BoxChuongTrinh::after {
  content: "";
  position: absolute;
  bottom: -23px;
  left: 35px;
  z-index: 2;
  width: 45px;
  height: 45px;
}
#main .section-3 .BoxChuongTrinh.box_yellow ._2qse ._6wjd ._5nld {
  background: url(../../img/range_1.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_yellow ._2qse ._6wjd ._1ebl {
  background: url(../../img/sr1.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_yellow ._2qse ._6wjd ._2cpd {
  color: var(--Primary-1, #F2BF0F);
}
#main .section-3 .BoxChuongTrinh.box_yellow::after {
  background: url(../../img/ar1.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_purple ._2qse ._6wjd ._5nld {
  background: url(../../img/range_2.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_purple ._2qse ._6wjd ._1ebl {
  background: url(../../img/sr2.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_purple ._2qse ._6wjd ._2cpd {
  color: #96C;
}
#main .section-3 .BoxChuongTrinh.box_purple::after {
  background: url(../../img/ar2.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_coffee ._2qse ._6wjd ._5nld {
  background: url(../../img/range_3.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_coffee ._2qse ._6wjd ._1ebl {
  background: url(../../img/sr3.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_coffee ._2qse ._6wjd ._2cpd {
  color: #7F673E;
}
#main .section-3 .BoxChuongTrinh.box_coffee::after {
  background: url(../../img/ar3.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_green ._2qse ._6wjd ._5nld {
  background: url(../../img/range_4.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_green ._2qse ._6wjd ._1ebl {
  background: url(../../img/sr4.png) no-repeat;
}
#main .section-3 .BoxChuongTrinh.box_green ._2qse ._6wjd ._2cpd {
  color: #5C8920;
}
#main .section-3 .BoxChuongTrinh.box_green::after {
  background: url(../../img/ar4.png) no-repeat;
}
#main .section-3 .section-bg {
  max-width: 1920px;
  height: 510px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  top: unset !important;
}
#main .section-3 .section-bg img {
  height: auto;
}
#main .section-4 {
  margin-top: -25px;
  padding-bottom: 50px;
}
#main .section-4::after {
  content: "";
  position: absolute;
  width: 120px;
  height: 109px;
  background: url(../../img/kien.png) no-repeat;
  left: 50%;
  top: -75px;
  z-index: 2;
  transform: translateX(-50%);
}
#main .section-4 .text_heading_s4 h2 {
  color: var(--Primary-3, #939598);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
#main .section-4 .TabSystem {
  position: relative;
}
#main .section-4 .TabSystem .tab_header {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
#main .section-4 .TabSystem .tab_header .left_tab_header {
  width: 335px;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab {
  display: flex;
  align-items: center;
  margin-bottom: 3px;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab:last-child {
  margin-bottom: 0;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab .star {
  width: 62px;
  height: 65px;
  background: url(../../img/Star.png) no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 2;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab .star ._2xdr {
  color: #000;
  font-size: 12px;
  font-weight: 500;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab .star ._1vxu {
  color: var(--Primary-1, #F2BF0F);
  font-size: 20px;
  font-weight: 900;
  line-height: 1;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab ._0jdt {
  flex: 1;
  width: 100%;
  height: 57px;
  margin-left: -35px;
  z-index: 1;
  background: url(../../img/s1t.png) no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab ._0jdt ._0nzp {
  color: var(--Neutral-6, #FFF);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 22px;
  font-weight: 700;
  padding-left: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.yellow_tab .star ._1vxu {
  color: var(--Primary-1, #F2BF0F);
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.yellow_tab ._0jdt {
  background: url(../../img/s1t.png) no-repeat;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.purple_tab .star ._1vxu {
  color: #96C;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.purple_tab ._0jdt {
  background: url(../../img/s2t.png) no-repeat;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.coffee_tab .star ._1vxu {
  color: #7F673E;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.coffee_tab ._0jdt {
  background: url(../../img/s3t.png) no-repeat;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.green_tab .star ._1vxu {
  color: #5C8920;
}
#main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab.green_tab ._0jdt {
  background: url(../../img/s4t.png) no-repeat;
}
#main .section-4 .TabSystem .tab_header .right_tab_header {
  flex: 1;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content {
  display: none;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content.active {
  display: block;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo {
  display: flex;
  flex-wrap: wrap;
  margin-right: -30px;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ {
  width: calc(33.3333% - 30px);
  margin-right: 30px;
  margin-bottom: 30px;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ:nth-last-child(-n+3) {
  margin-bottom: 0;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery {
  position: relative;
  display: block;
  height: 245px;
  border-radius: 8px;
  overflow: hidden;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery ._6eij {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: var(--Neutral-1, #414141);
  font-size: 20px;
  font-weight: 900;
  width: 100%;
  height: 100%;
  display: none;
  align-items: center;
  justify-content: center;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery ._7xke {
  position: relative;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery ._7xke::after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 0.5;
  display: none;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery ._7xke img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery:hover ._6eij {
  display: flex;
}
#main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery:hover ._7xke::after {
  display: block;
}
#main .section-4 .TabSystem .btn-readmore {
  display: flex;
  justify-content: flex-end;
}
#main .section-4 .TabSystem .btn-readmore ._6xyk {
  margin: 0;
  border-radius: 8px;
  min-width: 145px;
}
#main .section-4 .TabSystem .btn-readmore ._6xyk span {
  color: #FFF;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-5 {
  padding-bottom: 100px;
}
#main .section-5 .LabelSubTitle.white_mark {
  width: 178px;
  height: 43px;
  background: url(../../img/white_mark.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .section-5 .LabelSubTitle.white_mark ._5bsk {
  color: var(--Primary-2, #5C8920);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-5 .LabelSubTitle.center_mark {
  margin: 0 auto;
  margin-bottom: 12px;
}
#main .section-5 .heading_home h2 {
  color: var(--Primary-3, #939598);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
#main .section-5 .stacking-section {
  position: relative;
  margin-top: 30px;
}
#main .section-5 .stacking-section .cards {
  position: sticky;
  top: 50px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  perspective: 1200px;
}
#main .section-5 .stacking-section .cards::before {
  content: "";
  position: absolute;
  width: 227px;
  height: 278px;
  background: url(../../img/bg_cards.png) no-repeat;
  left: 0;
  top: -130px;
}
#main .section-5 .stacking-section .cards .card {
  position: absolute;
  width: 950px;
  height: 315px;
  border-radius: 24px 150px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
  display: flex;
  justify-content: center;
  align-items: center;
  transform-origin: center center;
  background: #FFD447;
  padding: 25px 25px 26px 90px;
}
#main .section-5 .stacking-section .cards .card.card-1 {
  z-index: 3;
}
#main .section-5 .stacking-section .cards .card.card-2 {
  z-index: 2;
  margin-top: 20px;
  transform: scale(0.98);
}
#main .section-5 .stacking-section .cards .card.card-3 {
  z-index: 1;
  margin-top: 40px;
  transform: scale(0.96);
}
#main .section-5 .stacking-section .cards .card ._3ykb {
  width: calc(50% - 50px);
  margin-right: 50px;
}
#main .section-5 .stacking-section .cards .card ._3ykb ._4dld {
  position: absolute;
  left: 65px;
  top: -25px;
  color: var(--Primary-2, #5C8920);
  font-size: 32px;
  font-weight: 900;
  width: 48px;
  height: 48px;
  background: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .section-5 .stacking-section .cards .card ._3ykb ._0kts ._9uln {
  color: var(--Neutral-0, #1F1F1F);
  font-size: 29px;
  font-weight: 900;
  line-height: 30px;
  height: 60px;
  margin-bottom: 5px;
}
#main .section-5 .stacking-section .cards .card ._3ykb ._0kts ._5sbg {
  color: var(--Neutral-0, #1F1F1F);
  text-align: justify;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}
#main .section-5 .stacking-section .cards .card ._9vgk {
  flex: 1;
  height: 100%;
}
#main .section-5 .stacking-section .cards .card ._9vgk ._7xbx {
  width: 100%;
  height: 100%;
  border-radius: 8px 150px 8px 8px;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .section-6 {
  padding-bottom: 60px;
}
#main .section-6 .heading_s6 h2 {
  color: var(--Neutral-6, #FFF);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
  margin-bottom: 30px;
}
#main .section-6 .s6_r2 {
  margin-top: 30px;
}
#main .section-6 .s6_r2 .icon-box-text {
  padding-left: 30px;
}
#main .section-6 .s6_r2 .icon-box-text .text_icon_s6 h3 {
  color: var(--Primary-1, #F2BF0F);
  font-size: 48px;
  font-weight: 900;
  margin-bottom: 5px;
}
#main .section-6 .s6_r2 .icon-box-text .text_icon_s6 p {
  color: #FFF;
  text-align: justify;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-7 {
  padding-top: 35px;
  padding-bottom: 180px;
}
#main .section-7::after {
  content: "";
  position: absolute;
  width: 211px;
  height: 237px;
  background: url(../../img/tree.png) no-repeat;
  right: 20px;
  top: -50px;
}
#main .section-7 .text_heading_s7 h2 {
  color: var(--Primary-3, #939598);
  text-align: center;
  font-size: 32px;
  font-weight: 900;
}
#main .section-7 .LabelSubTitle.yellow_mark {
  width: 178px;
  height: 43px;
  background: url(../../img/yellow_mark.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
}
#main .section-7 .LabelSubTitle.yellow_mark ._5bsk {
  color: #5C8920;
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-7 .LabelSubTitle.center_mark {
  margin: 0 auto;
  margin-bottom: 12px;
}
#main .section-7 .s7_r2 {
  margin-top: 40px;
}
#main .section-7 .s7_r2 .slide_home .flickity-button {
  width: 38px;
  height: 31px;
  opacity: 1;
  min-height: 31px;
  top: 50%;
  bottom: unset;
  transform: translateY(-50%) !important;
}
#main .section-7 .s7_r2 .slide_home .flickity-button .flickity-button-icon {
  display: none;
}
#main .section-7 .s7_r2 .slide_home .flickity-button.previous {
  background: url(../../img/icons/pngtree-left-doodle.png) no-repeat;
  background-size: 100% 100%;
}
#main .section-7 .s7_r2 .slide_home .flickity-button.next {
  background: url(../../img/icons/pngtree-right-doodle.png) no-repeat;
  background-size: 100% 100%;
}
#main .section-7 .s7_r2 .slide_home .flickity-page-dots {
  bottom: -35px;
}
#main .section-7 .s7_r2 .slide_home .flickity-page-dots .dot {
  width: 9px;
  height: 9px;
  background: url(../../img/icons/cham.png);
  border: unset;
  border-radius: 50%;
  opacity: 1;
  margin: 0 3px;
}
#main .section-7 .s7_r2 .slide_home .flickity-page-dots .dot.is-selected {
  width: 9px;
  height: 12px;
  background: url(../../img/icons/cham-active.png) no-repeat;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .box_review,
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .box_review {
  color: var(--Neutral-0, #1F1F1F);
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding: 20px 22px 65px 14px;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .box_review p,
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .box_review p {
  margin-bottom: 0;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .icon_review,
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .icon_review {
  align-items: center;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .icon_review .icon-box-img img,
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .icon_review .icon-box-img img {
  width: 60px;
  height: 60px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 50%;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .icon_review .icon_text_review h3,
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .icon_review .icon_text_review h3 {
  color: var(--Neutral-0, #1F1F1F);
  text-align: justify;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 3px;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .icon_review .icon_text_review p,
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .icon_review .icon_text_review p {
  color: var(--Neutral-0, #1F1F1F);
  text-align: justify;
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 0;
  line-height: 20px;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c1 .box_review {
  background: url(../../img/box-green.png) no-repeat;
  background-size: 100% 100%;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 {
  margin-top: 30px;
}
#main .section-7 .s7_r2 .slide_home .s7_r2_c1_sl1_r1_c2 .box_review {
  background: url(../../img/box-yellow.png) no-repeat;
  background-size: 100% 100%;
}
#main .section-8 {
  padding-bottom: 100px;
  /* Slide mặc định */
  /* Slide trung tâm */
  /* Slide hai bên (hiển thị một chút) */
  padding-bottom: 50px;
}
#main .section-8 .swiper-container {
  width: 100%;
  height: 100%;
}
#main .section-8 .swiper-slide {
  width: 500px; /* Độ rộng từng slide (tùy chỉnh theo thiết kế) */
  transition: transform 0.3s ease, opacity 0.3s ease;
}
#main .section-8 .swiper-slide._4gxe {
  border-radius: 8px;
  background: #fff;
  padding: 20px;
  opacity: 0.5;
}
#main .section-8 .swiper-slide._4gxe.swiper-slide-active {
  opacity: 1;
}
#main .section-8 .swiper-slide._4gxe .VideoWebsite {
  position: relative;
}
#main .section-8 .swiper-slide._4gxe .VideoWebsite .banner-video img._1arc {
  width: 100%;
  border-radius: 8px;
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
#main .section-8 .swiper-slide._4gxe .VideoWebsite ._1blk {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
#main .section-8 .swiper-slide._4gxe .text_video_s8 {
  margin-top: 20px;
}
#main .section-8 .swiper-slide._4gxe .text_video_s8 h3 {
  color: var(--Primary-3, #939598);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
}
#main .section-8 .swiper-slide._4gxe .text_video_s8 p {
  color: var(--Primary-3, #939598);
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 0;
}
#main .section-8 .swiper-slide-active {
  transform: scale(1.5); /* Tăng kích thước slide trung tâm */
  z-index: 10; /* Đưa lên phía trước */
}
#main .section-8 .swiper-slide:nth-child(2),
#main .section-8 .swiper-slide:nth-last-child(2) {
  transform: scale(0.8); /* Làm nhỏ slide hai bên */
}
#main .section-8 .s8_r1 .s8_r1_c1 .LabelSubTitle.green_mark {
  width: 178px;
  height: 43px;
  background: url(../../img/green_mark.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
#main .section-8 .s8_r1 .s8_r1_c1 .LabelSubTitle.green_mark ._5bsk {
  color: var(--Primary-2, #5C8920);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
}
#main .section-8 .s8_r1 .s8_r1_c1 .text_heading_s8 h2 {
  color: var(--Primary-3, #939598);
  font-size: 28px;
  font-weight: 900;
}
#main .section-9 .heading_s9 h2 {
  color: var(--Primary-3, #939598);
  font-size: 32px;
  font-weight: 900;
  text-align: center;
}
#main .section-9 .s9_r1 {
  margin-bottom: 35px;
}
#main .section-9 .Partner .list_Partner .item_Partner ._1ldb {
  position: relative;
  height: 104px;
  border: 1px solid #EDEDED;
  border-radius: 6px;
}
#main .section-9 .Partner .list_Partner .item_Partner ._1ldb ._3byi {
  display: block;
  height: 100%;
  width: 100%;
  padding: 10px;
}
#main .section-9 .Partner .list_Partner .item_Partner ._1ldb ._3byi ._6aya {
  width: auto;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#main .s10_r1 .s10_r1_c2 .col-inner {
  padding-left: 30px;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs {
  background: #5C8920;
  border-radius: 100px 0 0 100px;
  padding: 30px 70px;
  padding-bottom: 105px;
  position: relative;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs::after {
  content: "";
  position: absolute;
  z-index: -1;
  width: 195px;
  height: 50px;
  background: #F7941F;
  border-radius: 0 0 20px 20px;
  bottom: -15px;
  transform: translateX(-50%);
  left: 50%;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._3kje {
  color: var(--Neutral-6, #FFF);
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 10px;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6kxq {
  width: 392px;
  height: 87px;
  background: url(../../img/mark-white.png) no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 35px;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6kxq p {
  color: var(--Primary-3, #939598);
  font-size: 30px;
  font-weight: 900;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6dty ._7qiv {
  margin-bottom: 18px;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6dty ._7qiv:last-child {
  margin-bottom: 0;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6dty ._7qiv .wpcf7-form-control {
  border: unset;
  box-shadow: unset;
  height: 40px;
  border-radius: 40px;
  background: #fff;
  padding-left: 20px;
  color: var(--Neutral-0, #1F1F1F);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 0;
  max-width: 390px;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._2mkd {
  position: absolute;
  left: 50%;
  bottom: -15px;
  transform: translateX(-50%);
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._2mkd .wpcf7-spinner {
  position: absolute;
}
#main .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._2mkd .submit-form {
  margin: 0;
  width: 160px;
  height: 45px;
  background: #F2BF0F;
  border-radius: 40px 40px 0 0;
  color: var(--Neutral-6, #FFF);
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-transform: initial;
}

.wave_s2 ._5wqe {
  position: absolute;
  z-index: 1;
  top: -65px;
  right: 60px;
  animation: floatWave 2s ease-in-out infinite;
}

.wave_s4 ._5wqe {
  position: absolute;
  z-index: 1;
  top: -50px;
  left: 50%;
  animation: floatWave2 2s ease-in-out infinite;
}

.wave_s5 {
  margin-top: -100px;
}
.wave_s5 ._5wqe {
  position: absolute;
  z-index: 1;
  top: -120px;
  right: 60px;
  animation: floatWave 2s ease-in-out infinite;
}

.wave_s7 {
  margin-top: -100px;
}
.wave_s7 ._5wqe {
  position: absolute;
  z-index: 1;
  top: -120px;
  left: 0px;
  animation: floatWave 2s ease-in-out infinite;
}

@keyframes floatWave {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
}
@keyframes floatWave2 {
  0%, 100% {
    transform: translate(-50%, 0);
  }
  50% {
    transform: translate(-50%, -10px);
  }
}