#footer {
    margin-top: -65px;
    z-index: 2;
    .section-footer{
        padding: 0;
        .text_heading_footer{
            color: var(--Primary-2, #5C8920);
            text-align: center;
            font-size: 20px;
            font-weight: 900;
            p{
                margin-bottom: 0;
            }
        }
    }
    .section-footer-menu{
        padding: 0;
        .follow-icon-footer{
            margin-top: 20px;
            .icon {
                margin-left: 10px;
                margin-right: 10px;
                margin-bottom: 0;
                i{
                    position: relative;
                    top: 1px;
                }
            }
        }
        .block_html {
            .widget-footer{
                .widget-footer-item{
                    margin-bottom: 20px;
                    &:last-child{
                        margin-bottom: 0;
                    }
                    ._7anx{
                        color: var(--Primary-2, #5C8920);
                        font-size: 18px;
                        font-weight: 700;
                        margin-bottom: 20px;
                        position: relative;
                        &::before{
                            content: "";
                            position: absolute;
                            width: 13px;
                            height: 2px;
                            background: #F2BF0F;
                            bottom: -5px;
                            left: 0;
                        }
                        &::after{
                            content: "";
                            position: absolute;
                            width: 50px;
                            height: 2px;
                            background: #F2BF0F;
                            bottom: -5px;
                            left: 20px;
                        }
                    }
                    ._9cky{
                        color: var(--Neutral-0, #1F1F1F);
                        text-align: justify;
                        font-size: 14px;
                        font-weight: 400;
                        line-height: 20px;
                    }
                }
            }
            &.has-margin-top{
                margin-top: 110px;
            }
            .widget-footer{
                .widget-footer-item{
                    ._4gqi{
                        margin-bottom: 0;
                        ._7vxu{
                            list-style: none;
                            margin-left: 0;
                            margin-bottom: 0;
                            a{
                                color: var(--Neutral-0, #1F1F1F);
                                text-align: justify;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 34px;
                                &:hover{
                                    color: var(--Mau_1);
                                }
                            }
                        }
                    }
                    ._4hil{
                        margin-bottom: 0;
                        ._2gfw {
                            list-style: none;
                            margin-left: 0;
                            margin-bottom: 18px;
                            &:last-child{
                                margin-bottom: 0;
                            }
                            display: flex;
                            flex-wrap: wrap;
                            i{
                                width: 20px;
                                margin-right: 6px;
                                position: relative;
                                top: 2px;
                                color: #5C8920;
                            }
                            ._8tct{
                                flex: 1;
                                color: var(--Neutral-0, #1F1F1F);
                                text-align: justify;
                                font-size: 14px;
                                font-weight: 400;
                                line-height: 20px;
                            }
                            &.phone{
                                ._8tct{
                                    font-size: 18px;
                                    font-weight: 700;
                                }
                            }
                        }
                    }
                }
            }
        }
        ._6twd{
            display: flex;
            border-radius: 50px;
            height: 50px;
            background: rgb(241,217,124);
            ._6joh{
                flex: 1;
                .wpcf7-form-control{
                    border: unset;
                    box-shadow: unset;
                    margin: 0;
                    background: transparent;
                    border-radius: 50px;
                    height: 50px;
                    padding-left: 20px;
                }
            }
            ._4avc{
                width: 70px;
                display: flex;
                align-items: center;
                justify-content: center;
                button{
                    margin: 0;
                    padding: 0;
                }
            }
        }
        .sftm_r1_c2 {
            .widget-footer-item{
                padding-left: 30px;
            }
        }
    }
    .sftm_r2{
        border-top: 1px solid #CBD6BD;
        .copyright{
            p{
                margin-bottom: 0;
                color: var(--Neutral-0, #1F1F1F);
                font-size: 16px;
                font-weight: 700;
                line-height: 50px;
                text-align: center;
            }
        }
    }
}