@media only screen and (max-width:2500px) {
    .wave-container{
        max-height: 75px;
    }
}
@media only screen and (max-width:1920px) {
    .wave-container{
        max-height: 60px;
    }
}
@media only screen and (max-width:1600px) {
    .wave-container{
        max-height: 49px;
    }
}

@media only screen and (max-width:1366px) {
    .wave-container{
        max-height: 40px;
    }
    #main{
        .section-7{
            padding-bottom: 180px;
        }
        .Procedure_3::after{
            top: -120px;
        }
        .SectionPost_1:first-of-type{
            padding-bottom: 50px;
        }
    }
    #footer{
        .section-footer{
            padding: 0;
            .text_heading_footer{
                margin-top: 40px;
            }
        }
    }
}

@media only screen and (max-width:1170px) {}

@media only screen and (max-width:850px) {}

@media only screen and (max-width:800px) {
    #header{
        #masthead {
            height: 50px !important;
            .logo-left {
                #logo{
                    flex: 1;
                    img{
                        padding: 6px;
                        max-height: 50px !important;
                    } 
                }
            }
            .medium-logo-center{
                .flex-right,
                .flex-left{
                    flex: unset;
                }
            }
        }
        .header-main .nav > li > a{
            padding: 0;
            line-height: 50px;
            .search-icon{
                position: relative;
                top: 5px;
            }
        }
    }
    .mfp-close {
        opacity: 1 !important;
        left: 260px;
        top: 5px;
        z-index: 9999;
        background: transparent !important;
        color: #000;
        border: unset;
        svg{
            width: 20px;
        }
    }

    #main-menu .nav-sidebar .html_nav_position_text_top {
        padding-top: 0;
        padding-bottom: 10px;
    }

    #main-menu .nav-sidebar .html_nav_position_text_top .searchform {
        width: 100%;
    }

    #main-menu .nav-sidebar .html_nav_position_text_top .searchform .search-field {
        box-shadow: unset;
        height: 30px;
        font-size: 12px;
        border-right: unset;
    }

    #main-menu .nav-sidebar .html_nav_position_text_top .searchform .ux-search-submit {
        height: 30px;
        min-height: auto;
        display: flex;
        align-items: center;
        background: #fff;
        color: #333333;
        background-image: unset;
        border-left: unset;
        border-color: #ddd;
    }

    .nav-sidebar.nav-vertical>li {
        border-bottom: 1px solid #ececec;
        border-top: unset;
    }

    #main-menu .navbar-header {
        position: relative;
        z-index: 9;
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 50px;
        border-bottom: 1px solid #f1f1f1;
        background: #fff;
    }

    #main-menu .sidebar-menu {
        padding-top: 0 !important;
        .nav-sidebar{
            padding-top: 5px;
            .menu-item{
                a{
                    padding: 5px 12px;
                    text-transform: initial;
                    font-weight: 500;
                    color: #000;
                    font-size: 15px;
                }
            }
        }
        .html_topbar_right {
            ._4mwn {
                display: flex;
                align-items: center;
                gap: 10px;

                li {
                    padding-left: 0;

                    flex: unset a {
                        padding-left: 0;
                    }
                }
            }
        }

        .itchy-emu {
            width: 100%;
        }

        ._3huw {
            border-radius: 4px;
            overflow: hidden;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-bottom: 12px;
            width: 100%;

            &:last-child {
                margin-bottom: 0;
            }

            &._9acl {
                a {
                    height: 44px;
                    padding: 0 16px;
                    color: var(--white, #FFF);
                    background: #19519C;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 44px;
                    text-transform: uppercase;
                    margin: 0;
                    width: 100%;
                }
            }

            &._3hwn {
                ._8hey {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    background: #C00;
                    color: var(--white, #FFF);
                    margin: 0;
                    height: 44px;
                    padding: 0 16px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 44px;
                    text-transform: uppercase;
                    width: 100%;

                    img {
                        margin-right: 4px;
                    }

                    span {
                        font-size: 16px;
                    }
                }
            }

            &._2lch {
                ._9kzl {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-direction: column;
                    color: var(--white, #FFF);
                    margin: 0;
                    height: 44px;
                    padding: 0 16px;
                    font-size: 12px;
                    font-style: normal;
                    font-weight: 600;
                    line-height: 1;
                    text-transform: uppercase;
                    border-radius: 4px;
                    background: var(--Blue-gradient, linear-gradient(90deg, #19519C 0%, #399CED 53.83%, #268DEA 100%));
                    border: unset;
                    width: 100%;

                    ._0arr {
                        margin-bottom: 3px;

                        i {
                            margin-right: 4px;
                        }
                    }

                    ._7lgz {
                        font-size: 16px;
                        font-weight: 800;
                    }
                }
            }
        }

        .header-search-form {
            max-width: 610px;
            padding-top: 0;
            margin-top: 12px;
            .header-search-form-wrapper {
                border-radius: 1000px;
                background: #fff;
                padding: 4px 4px 4px 16px;
                border: 1px solid #ccc;
                ._2hbb {
                    width: 15px;

                    i {
                        color: #fff;
                    }
                }

                ._8xvf {
                    flex: 1;

                    input {
                        background: transparent;
                        border: unset;
                        color: #000;
                        box-shadow: unset;
                        font-size: 15px;

                        &::placeholder {
                            color: #333;
                            font-weight: 300;
                        }
                    }
                }

                ._0von {
                    width: 30px;
                    margin-left: 0;

                    .ux-search-submit {
                        border-radius: 1000px;
                        background: var(--Color-2-gardient, linear-gradient(90deg, #F8DA6A 0%, #FFCB05 100%));
                        width: 100%;
                        color: #000;
                        font-weight: 500;
                    }
                }
            }
        }
    }

    #main-menu .navbar-header .nav-toggle {
        margin-left: 10px;
    }

    #main-menu .navbar-header .nav-toggle .mfp-close {
        opacity: 1;
        position: static;
        transition: unset;
        font-size: 20px;
        mix-blend-mode: unset;
        color: var(--Mau_1);
    }

    #main-menu .navbar-header .logo-menu-sidebar img {
        display: block;
        max-height: 30px;
    }

    .right-head-menu-sidebar {
        display: flex;
        align-items: center;
        margin-right: 15px;
    }

    .right-head-menu-sidebar .icon-phone-sidebar {
        margin-right: 15px;
    }

    .right-head-menu-sidebar .icon-phone-sidebar>a,
    .right-head-menu-sidebar .icon-cart>a {
        color: #333;
        font-size: 18px;
    }

    .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom,
    .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy>.item>a {
        padding: 0;
    }

    .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy>.item>a {
        padding-left: 20px;
    }

    .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy>.item {
        padding-left: 0;
        border-bottom: 1px solid #ececec;
    }

    .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy>.item span {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        font-weight: 400;
        min-height: 34px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 34px;
        margin-left: 10px;
        text-transform: uppercase;
        font-size: 13px;
        color: var(--Mau_1);
    }

    .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy>.item i {
        font-size: 18px;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item .toggle i.icon-angle-right {
        color: #000;
        font-size: 25px;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu>.nav-slide-header {
        padding: 0;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu>.nav-slide-header {
        padding-left: 20px;
        background: #f3f3f3;
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
        border-bottom: 1px solid var(--Mau_2);
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu>.nav-slide-header>.toggle {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        display: block;
        font-weight: 700;
        min-height: 34px;
        padding-top: 0;
        padding-bottom: 0;
        padding-left: 0 !important;
        line-height: 34px;
        text-transform: uppercase;
        font-size: 16px;
        color: var(--Mau_1);
        margin: 0 !important;
        opacity: 1;
        text-transform: initial;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu>.nav-slide-header>.toggle>i.icon-angle-left {
        position: relative;
        top: -1px;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu>.menu-item {
        border-bottom: 1px solid #ececec;
        padding-left: 15px;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu>.menu-item>a {
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        color: inherit;
        display: block;
        font-weight: 500;
        min-height: 34px;
        padding-top: 0;
        padding-bottom: 0;
        line-height: 34px;
        font-size: 16px;
        text-transform: initial;
    }

    .mfp-content #main-menu .nav-sidebar>.menu-item>.sub-menu {
        padding-top: 0;
        padding-bottom: 0;
    }

    .logo-left .logo {
        margin-right: 0;
    }

    #masthead .header-inner {
        justify-content: space-around;
    }

    #masthead .mobile-nav .nav-icon .icon-menu {
        font-size: 30px;
        color: var(--Mau_2);
    }

    .button-mobile-right {
        order: 3;
    }

    .button-mobile-right>a.button {
        margin: 0;
        font-size: 10px;
        height: 35px;
        display: flex;
        align-items: center;
    }

    #top-bar {
        display: none;
    }

    .off-canvas-right .mfp-content.off-canvas-cart {
        width: 100%;
        bottom: 0;
        top: unset;
    }

    .mfp-content {
        &.off-canvas-cart {
            border-top-left-radius: 20px;
            border-top-right-radius: 20px;
        }
    }
    .mobile-nav{
        .header-search-dropdown{
            .nav-dropdown-default{
                border: unset;
                padding: 0;
                background: transparent;
                border-radius: 20px;
                .header-search-form-wrapper{
                    border: unset;
                    background: transparent;
                    ._4rbj {
                        border-radius: 20px;
                        overflow: hidden;
                        ._8xvf {
                            input{
                                border: unset;
                                box-shadow: unset;
                                padding-left: 20px;
                                height: 40px;
                                line-height: 40px;
                                font-size: 14px;
                            }
                        }
                        ._0von {
                            .submit-button{
                                background: #fff;
                                margin: 0;
                                border: unset;
                                padding: 0;
                                box-shadow: unset;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media only screen and (max-width:680px) {}

@media only screen and (max-width:550px) {
    #main{
        .section-2{
            padding: 15px 0;
            .s2_r1_c1 {
                margin-bottom: 20px;
            }
            .VideoWebsite {
                .banner-video{
                    ._1arc {
                        border: 2px solid var(--Mau_1);
                        border-radius: 50px 50px 10px 50px;
                    }
                }
                ._1blk{
                    bottom: 40px;
                    min-height: 40px;
                    min-width: 40px;
                    line-height: 40px;
                    margin: 0;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    height: 46px;
                    width: 46px;
                    img{
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                    }
                }
            }
            .s2_r1_c2_text {
                h2{
                    font-size: 28px;
                }
            }
        }
        .section-3{
            padding-bottom: 30px;
            .s3_r1{
                margin-top: 20px;
                margin-bottom: 15px;
                .LabelSubTitle.yellow_mark ._5bsk{
                    font-size: 16px;
                }
                .heading_home h2{
                    font-size: 24px;
                }
            }
            .s3_r2{
                .s3_r2_c {
                    margin-bottom: 30px;
                }
            }
            .BoxChuongTrinh{
                &::after{
                    display: none;
                }
                ._4vle{
                    ._7axb{
                        width: 100%;
                        height: auto;
                        max-height: 500px;
                        object-fit: cover;
                    }
                }
                ._2qse{
                    height: 245px;
                }
            }
        }
        .section-4{
            margin-top: -17px;
            padding-bottom: 30px;
            &::after{
                background-size: 100% 100%;
                width: 60px;
                height: 50px;
                top: -30px;
            }
            .text_heading_s4 {
                h2{
                    font-size: 24px;
                }
            }
            .TabSystem {
                .tab_header {
                    margin-bottom: 30px;
                    .left_tab_header{
                        width: 100%;
                        .item_header_tab {
                            justify-content: center;
                            ._0jdt{
                                width: 315px;
                                flex: unset;
                            }
                        }
                    }
                    .right_tab_header{
                        display: none;
                    }
                }
                .content_pannel_tab {
                    .entry-content {
                        ._8imo {
                            ._6typ {
                                width: calc(100% - 30px);
                                margin-bottom: 12px;
                                &:nth-last-child(-n + 3){
                                    margin-bottom: 12px;
                                }
                                &:last-child{
                                    margin-bottom: 0;
                                }
                                .lightbox-gallery {
                                    ._6eij{
                                        display: flex;
                                        height: 50px;
                                        bottom: 0px;
                                        transform: translate(0, 0);
                                        top: unset;
                                        background: #ffffffc9;
                                        left: 0;
                                        font-size: 15px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .section-5 {
            .heading_home{
                h2{
                    font-size: 26px;
                }
            }
            .s5_r2{
                margin-top: 25px;
            }
            .stacking-section{
                margin-top: 0;
                .cards{
                    height: calc(100vh - 100px);
                    &::before{
                        display: none;
                    }
                    .card{
                        display: flex;
                        flex-direction: column;
                        height: calc(100vh - 100px);
                        width: 100%;
                        padding: 15px;
                        border-radius: 20px;
                        ._3ykb{
                            width: 100%;
                            margin-right: 0;
                            order: 2;
                            flex: 1;
                            ._0kts{
                                padding-top: 20px;
                                ._9uln {
                                    height: auto;
                                    margin-bottom: 8px;
                                }
                            }
                        }
                        ._9vgk {
                            order: 1;
                            margin-bottom: 20px;
                            flex: unset;
                            height: 50%;
                            ._7xbx{
                                border-radius: 20px;
                                height: 100%;
                                width: 100%;
                                object-fit: cover;
                            }
                        }
                    }
                }
            }
        }
        .section-6{
            .heading_s6 {
                h2{
                    margin-bottom: 5px;
                }
            }
            .s6_r2{
                .s6_r2_c1 {
                    margin-bottom: 40px;
                }
            }
            .s6_r2 .icon-box-text .text_icon_s6 h3{
                font-size: 36px;
            }
        }
        .section-7{
            padding-bottom: 70px;
            &::after{
                width: 130px;
                height: 150px;
                right: 5px;
                top: -110px;
                background-size: 100%;
            }
            .text_heading_s7 h2{
                font-size: 24px;
            }
            .s7_r2{
                margin-top: 15px;
            }
        }
        .section-8 {
            padding-bottom: 30px;
            .s8_r1 {
                .s8_r1_c1 {
                    width: 100%;
                    .LabelSubTitle.green_mark{
                        margin-bottom: 20px;
                    }
                    .text_heading_s8 h2{
                        font-size: 24px;
                    }
                }
                .s8_r1_c2{
                    width: 100%;
                }
            }
            .swiper-slide{
                width: 100%;
            }
        }
        .section-9{
            padding: 30px 0;
            .s9_r1{
                margin-bottom: 15px;
                .heading_s9 h2{
                    font-size: 24px;
                }
            }
            
        }
        .section-10{
            padding-top: 0;
            padding-bottom: 100px;
            .s10_r1 .s10_r1_c2 .col-inner{
                padding-left: 15px;
                ._2yzs{
                    padding: 40px 15px;
                    border-radius: 50px 0 0 50px;
                    ._3kje{
                        text-align: center;
                        max-width: 300px;
                        margin: 0 auto;
                        margin-bottom: 12px;
                    }
                    ._6kxq{
                        margin-bottom: 25px;
                        p{
                            font-size: 25px;
                        }
                    }
                }
            }
        }
        .About_2{
            padding: 30px 0;
            .ab2_r1_c1 .text_ab2 h2{
                font-size: 24px;
            }
            &::after{
                display: none;
            }
        }
        .About_3{
            padding-bottom: 40px;
            .ab3_r1{
                margin-bottom: 20px;
            }
            .heading_ab3 {
                h2{
                    font-size: 24px;
                }
            }
            .ab3_r2_c1 .tab_hanh_trinh {
                .nav-tabs{
                    flex-wrap: nowrap;
                    .tab{
                        a{
                            width: auto;
                            padding: 10px;
                            border-radius: 5px 5px 0 0;
                            span{
                                font-size: 15px;
                            }
                        }
                        &#tab-strategic::before{
                            width: 100%;
                            height: 75px;
                            background-size: 100%;
                        }
                        &#tab-mission{
                            &::before{
                                width: 100%;
                                height: 75px;
                                background-size: 100%;
                            }
                        }
                        &#tab-value{
                            &::before{
                                width: 100%;
                                height: 75px;
                                background-size: 100%;
                            }
                        }
                        &#tab-commitment{
                            &::before{
                                width: 100%;
                                height: 75px;
                                background-size: 100%;
                            }
                        }
                    }
                }
                .tab-panels{
                    padding: 15px;
                    border-radius: 0 0 10px 10px;
                    .BoxWebsite  {
                        .text-box-website{
                            width: 100%;
                            margin-right: 0;
                            ._3tbm {
                                p{
                                    font-size: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .About_4{
            margin-top: -18px;
            padding-bottom: 30px;
            .ab4_r1_c1 .text_heading_ab4 h2{
                font-size: 24px;
            }
            .ab4_r1{
                margin-bottom: 15px;
            }
        }
        .About_5{
            padding-top: 15px;
            .text_heading_ab5 h2{
                font-size: 24px;
            }
            .ab5_r2{
                margin-top: 20px;
            }
            .ab5_slide_r1_c1 {
                margin-bottom: 15px;
            }
        }
        .About_6{
            padding-bottom: 150px;
            .text_heading_ab6 h2{
                font-size: 24px;
            }
        }
        .breadcumbs_head .details_breadcumbs{
            width: 100%;
        }
        .Program_1 {
            padding-bottom: 50px;
            .Program{
                left: 0;
                .HeaderTab{
                    margin-bottom: 20px;
                }
                .TabContent {
                    .NavigationTab {
                        .TabNext,
                        .TabPrev{
                            z-index: 2;
                        }
                        .TabNext{
                            right: -15px;
                        }
                        .TabPrev{
                            left: -15px;
                        }
                    }
                    .entry-content {
                        ._9yga {
                            ._5wax{
                                right: 40px;
                                top: -15px;
                                img{
                                    width: 80px;
                                }
                            }
                             
                            ._2sxn{
                                width: 100%;
                                height: auto;
                                padding: 75px 20px 55px 35px;
                                background-size: 100% 100%;
                                ._3yaj{
                                    width: 150px;
                                    height: 75px;
                                    top: -5px;
                                    left: -12px;
                                    background-size: 100%;
                                }
                                ._2cjk{
                                    ._0cff{
                                        font-size: 24px;
                                        margin-bottom: 10px;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
        .Program_2{
            padding-top: 30px;
            padding-bottom: 70px;
            &::after{
                width: 145px;
                height: 160px;
                top: -125px;
                left: 0;
                background-size: 100%;
            }
            .p2_r1 .heading_p2 h2{
                font-size: 24px;
            }
            .p2_r2{
                .tab_tien_trinh{
                    .nav-simple{
                        column-gap: 12px;
                        flex-wrap: nowrap;
                        .tab {
                            &> a span{
                                font-size: 16px;
                            }
                            &#tab-see{
                                height: 130px;
                            }
                            &#tab-play{
                                height: 170px;
                            }
                            &#tab-act{
                                height: 205px;
                            }
                            &#tab-revise{
                                height: 240px;
                            }
                            &#tab-keep{
                                height: 275px;
                                &>a{
                                    span{
                                        max-width: 120px;
                                        text-align: center;
                                    }
                                }
                            }
                        }
                    }
                    .tab-panels{
                        padding: 15px;
                        padding-top: 25px;
                    }
                }
            }
            .p2p_r2{
                .p2p_r2_c {
                    margin-bottom: 15px;
                }
            }
        }
        .Program_3{
            margin-top: -18px;
            padding-bottom: 80px;
            &::after{
                width: 100px;
                height: 110px;
                left: 50%;
                top: -65px;
                background-size: 100%;
            }
            .p3_r1{
                .heading_p3{
                    h2{
                        margin-top: 20px;
                        font-size: 24px;
                    }
                }
            }
            .p3_r2{
                padding-top: 12px;
                .p3_r2_c1 {
                    margin-bottom: 20px;
                }
            }
        }
        .Program_4{
            margin-top: -18px;
            padding-bottom: 160px;
            &::after{
                width: 150px;
                height: 115px;
                left: 50%;
                top: -60px;
                background-size: 100%;
            }
            .heading_p4{
                margin-top: 20px;
                h2{
                    font-size: 24px;
                }
            }
            .p4_r2 .tab_p4{
                .nav-simple{
                    width: 100%;
                    margin-bottom: 20px;
                }
                .tab-panels{
                    width: 100%;
                    flex: unset;
                    height: auto;
                    .entry-content{
                        .tab_p4_r1{
                            position: relative;
                            padding: 15px 0;
                            left: 15px;
                            top: 0;
                            transform: unset;
                            .tab_p4_r1_c1 {
                                margin-bottom: 20px;
                            }
                            .text_content_p4{
                                padding-bottom: 20px;
                            }
                        }
                    }
                }
            }
        }
        .Program_5{
            padding-bottom: 0;
            .heading_p5{
                margin-top: 20px;
                h2{
                    font-size: 24px;
                }
            }
            .p5_r2{
                margin-top: 10px;
                .html_p5{
                    padding: 15px 15px 15px 30px;
                    ._8abc ._5lsg{
                        margin-right: 0;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .Procedure_1 {
            padding-bottom: 40px;
            .heading_pro1 h2{
                background-size: 100% 100%;
                width: 100%;
                height: 50px;
                font-size: 18px;
            }
            .pro2_r1 {
                margin-top: 35px;
                .BoxQuyTrinh{
                    padding: 15px;
                    .image-box-website{
                        width: 100%;
                        margin-right: 0;
                        margin-bottom: 25px;
                        ._3gvm{
                            position: relative;
                            left: 20px;
                            top: 0;
                            transform: unset;
                            margin-bottom: 15px;
                        }
                    }
                    .text-box-website{
                        width: 100%;
                        ._7reh{
                            position: relative;
                            left: 20px;
                            top: 0;
                            transform: unset;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }
        .Procedure_2{
            .pro1_r1 {
                .heading_pro2{
                    margin-top: 40px;
                    h2{
                        font-size: 24px;
                    }
                }
            }
            .heading_pro2_r2 {
                margin-bottom: 25px;
                h2{
                    background-size: 100% 100%;
                    width: 100%;
                    height: 50px;
                    font-size: 18px;
                    margin-bottom: 30px;
                }
            }
            .text_list_pro2 ul li{
                margin-left: 30px;
            }
            .pro2_r3_c1 {
                margin-bottom: 20px;
            }
        }
        .Procedure_3{
            margin-top: -18px;
            padding-bottom: 120px;
            .heading_pro3{
                margin-top: 20px;
                h2{
                    font-size: 24px;
                }
            }
            .dvls_maps_header_right {
                width: 100%;
                .dvls_maps_3col{
                    flex-wrap: wrap;
                    .dvls_maps_col{
                        width: 100%;
                        margin-right: 0;
                    }
                }
            }
            .dvls_maps_wrap .dvls_maps_container .dvls_maps_body{
                margin-top: 0;
            }
            .dvls_maps_sidebar{
                margin-bottom: 15px;
            }
            .dvls_maps_wrap .dvls_maps_container > .dvls_maps_header{
                background: #f1f1f1;
                padding-bottom: 12px;
                margin-bottom: 12px;
                border-radius: 5px;
            }
        }
        .SectionPost_1 {
            .heading_sp1 {
                margin-top: 40px;
                h2{
                    font-size: 24px;
                }
            }
            .sp1_r2 .blog_post_1 .box-blog-post .box-image .image-cover img{
                border-radius: 8px;
            }
            .sp1_r2 .blog_post_1 {
                .post-item{
                    padding-bottom: 0;
                }
                .box-blog-post .box-text .post-title {
                    margin-bottom: 10px;
                    .plain{
                        font-size: 24px;
                    }
                }
            }
            .sp1_r3 .ListBlogsVinaWind ._2nmo{
                width: calc(100% - 20px);
            }
        }
        .archive-block ._2gfm {
            margin-top: 30px;
            ._2nmo{
                width: calc(100% - 20px);
            }
        }
        .Contact_1 {
            padding-top: 30px;
            .contact1_r1_c1{
                ._3rir.FormHS{
                    width: 100%;
                    height: 100%;
                    padding: 30px 15px 40px 35px;
                    ._9mwu{
                        font-size: 24px;
                    }
                }
                
            }
            .contact1_r1_c2 {
                margin-top: 30px;
                ._3rir.FormPH{
                    width: 100%;
                    height: 100%;
                    padding: 30px 15px 40px 35px;
                    ._9mwu{
                        font-size: 24px;
                    }
                }
            }
        }
    }
    #footer {
        .section-footer{
            padding-bottom: 30px;
        }
        .section-footer-menu {
            .sftm_r1_c1,
            .sftm_r1_c2,
            .sftm_r1_c3{
                margin-bottom: 20px;
            }
            .block_html.has-margin-top{
                margin-top: 0;
            }
            .sftm_r1_c2{
                .block_html.has-margin-top{
                    margin-top: 110px;
                }
            }
        }
    }
    .wave-container{
        max-height: 12px;
        &.wave_s2{
            ._5wqe{
                width: 75px;
                position: absolute;
                z-index: 1;
                top: -20px;
                right: 10px;
                animation: floatWave 2s ease-in-out infinite;
            }
        }
        &.wave_s4{
            ._5wqe{
                width: 100px;
                top: -25px;
            }
        }
        &.wave_p4{
            ._5wqe{
                width: 100px;
                top: -65px;
            }
        }
        &.wave_s5{
            margin-top: -10px;
            ._5wqe{
                width: 100px;
                right: 10px;
                top: -40px;
            }
        }
        &.wave_s7{
            margin-top: -10px;
            ._5wqe{
                width: 130px;
                left: 30px;
                top: -85px;
            }
        }
    }
}

@media only screen and (max-width:480px) {}

@media only screen and (max-width:375px) {}

@media only screen and (max-width:320px) {}