@media only screen and (max-width: 2500px) {
  .wave-container {
    max-height: 75px;
  }
}
@media only screen and (max-width: 1920px) {
  .wave-container {
    max-height: 60px;
  }
}
@media only screen and (max-width: 1600px) {
  .wave-container {
    max-height: 49px;
  }
}
@media only screen and (max-width: 1366px) {
  .wave-container {
    max-height: 40px;
  }
  #main .section-7 {
    padding-bottom: 180px;
  }
  #main .Procedure_3::after {
    top: -120px;
  }
  #main .SectionPost_1:first-of-type {
    padding-bottom: 50px;
  }
  #footer .section-footer {
    padding: 0;
  }
  #footer .section-footer .text_heading_footer {
    margin-top: 40px;
  }
}
@media only screen and (max-width: 800px) {
  #header #masthead {
    height: 50px !important;
  }
  #header #masthead .logo-left #logo {
    flex: 1;
  }
  #header #masthead .logo-left #logo img {
    padding: 6px;
    max-height: 50px !important;
  }
  #header #masthead .medium-logo-center .flex-right,
  #header #masthead .medium-logo-center .flex-left {
    flex: unset;
  }
  #header .header-main .nav > li > a {
    padding: 0;
    line-height: 50px;
  }
  #header .header-main .nav > li > a .search-icon {
    position: relative;
    top: 5px;
  }
  .mfp-close {
    opacity: 1 !important;
    left: 260px;
    top: 5px;
    z-index: 9999;
    background: transparent !important;
    color: #000;
    border: unset;
  }
  .mfp-close svg {
    width: 20px;
  }
  #main-menu .nav-sidebar .html_nav_position_text_top {
    padding-top: 0;
    padding-bottom: 10px;
  }
  #main-menu .nav-sidebar .html_nav_position_text_top .searchform {
    width: 100%;
  }
  #main-menu .nav-sidebar .html_nav_position_text_top .searchform .search-field {
    box-shadow: unset;
    height: 30px;
    font-size: 12px;
    border-right: unset;
  }
  #main-menu .nav-sidebar .html_nav_position_text_top .searchform .ux-search-submit {
    height: 30px;
    min-height: auto;
    display: flex;
    align-items: center;
    background: #fff;
    color: #333333;
    background-image: unset;
    border-left: unset;
    border-color: #ddd;
  }
  .nav-sidebar.nav-vertical > li {
    border-bottom: 1px solid #ececec;
    border-top: unset;
  }
  #main-menu .navbar-header {
    position: relative;
    z-index: 9;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    border-bottom: 1px solid #f1f1f1;
    background: #fff;
  }
  #main-menu .sidebar-menu {
    padding-top: 0 !important;
  }
  #main-menu .sidebar-menu .nav-sidebar {
    padding-top: 5px;
  }
  #main-menu .sidebar-menu .nav-sidebar .menu-item a {
    padding: 5px 12px;
    text-transform: initial;
    font-weight: 500;
    color: #000;
    font-size: 15px;
  }
  #main-menu .sidebar-menu .html_topbar_right ._4mwn {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  #main-menu .sidebar-menu .html_topbar_right ._4mwn li {
    padding-left: 0;
    flex: unset a;
    flex-padding-left: 0;
  }
  #main-menu .sidebar-menu .itchy-emu {
    width: 100%;
  }
  #main-menu .sidebar-menu ._3huw {
    border-radius: 4px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
    width: 100%;
  }
  #main-menu .sidebar-menu ._3huw:last-child {
    margin-bottom: 0;
  }
  #main-menu .sidebar-menu ._3huw._9acl a {
    height: 44px;
    padding: 0 16px;
    color: var(--white, #FFF);
    background: #19519C;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-transform: uppercase;
    margin: 0;
    width: 100%;
  }
  #main-menu .sidebar-menu ._3huw._3hwn ._8hey {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #C00;
    color: var(--white, #FFF);
    margin: 0;
    height: 44px;
    padding: 0 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 44px;
    text-transform: uppercase;
    width: 100%;
  }
  #main-menu .sidebar-menu ._3huw._3hwn ._8hey img {
    margin-right: 4px;
  }
  #main-menu .sidebar-menu ._3huw._3hwn ._8hey span {
    font-size: 16px;
  }
  #main-menu .sidebar-menu ._3huw._2lch ._9kzl {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: var(--white, #FFF);
    margin: 0;
    height: 44px;
    padding: 0 16px;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: 1;
    text-transform: uppercase;
    border-radius: 4px;
    background: var(--Blue-gradient, linear-gradient(90deg, #19519C 0%, #399CED 53.83%, #268DEA 100%));
    border: unset;
    width: 100%;
  }
  #main-menu .sidebar-menu ._3huw._2lch ._9kzl ._0arr {
    margin-bottom: 3px;
  }
  #main-menu .sidebar-menu ._3huw._2lch ._9kzl ._0arr i {
    margin-right: 4px;
  }
  #main-menu .sidebar-menu ._3huw._2lch ._9kzl ._7lgz {
    font-size: 16px;
    font-weight: 800;
  }
  #main-menu .sidebar-menu .header-search-form {
    max-width: 610px;
    padding-top: 0;
    margin-top: 12px;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper {
    border-radius: 1000px;
    background: #fff;
    padding: 4px 4px 4px 16px;
    border: 1px solid #ccc;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._2hbb {
    width: 15px;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._2hbb i {
    color: #fff;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._8xvf {
    flex: 1;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._8xvf input {
    background: transparent;
    border: unset;
    color: #000;
    box-shadow: unset;
    font-size: 15px;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._8xvf input::-moz-placeholder {
    color: #333;
    font-weight: 300;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._8xvf input::placeholder {
    color: #333;
    font-weight: 300;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._0von {
    width: 30px;
    margin-left: 0;
  }
  #main-menu .sidebar-menu .header-search-form .header-search-form-wrapper ._0von .ux-search-submit {
    border-radius: 1000px;
    background: var(--Color-2-gardient, linear-gradient(90deg, #F8DA6A 0%, #FFCB05 100%));
    width: 100%;
    color: #000;
    font-weight: 500;
  }
  #main-menu .navbar-header .nav-toggle {
    margin-left: 10px;
  }
  #main-menu .navbar-header .nav-toggle .mfp-close {
    opacity: 1;
    position: static;
    transition: unset;
    font-size: 20px;
    mix-blend-mode: unset;
    color: var(--Mau_1);
  }
  #main-menu .navbar-header .logo-menu-sidebar img {
    display: block;
    max-height: 30px;
  }
  .right-head-menu-sidebar {
    display: flex;
    align-items: center;
    margin-right: 15px;
  }
  .right-head-menu-sidebar .icon-phone-sidebar {
    margin-right: 15px;
  }
  .right-head-menu-sidebar .icon-phone-sidebar > a,
  .right-head-menu-sidebar .icon-cart > a {
    color: #333;
    font-size: 18px;
  }
  .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom,
  .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy > .item > a {
    padding: 0;
  }
  .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy > .item > a {
    padding-left: 20px;
  }
  .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy > .item {
    padding-left: 0;
    border-bottom: 1px solid #ececec;
  }
  .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy > .item span {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-weight: 400;
    min-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    margin-left: 10px;
    text-transform: uppercase;
    font-size: 13px;
    color: var(--Mau_1);
  }
  .mfp-content #main-menu .nav-sidebar .html_top_right_text.custom .list_policy > .item i {
    font-size: 18px;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item .toggle i.icon-angle-right {
    color: #000;
    font-size: 25px;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu > .nav-slide-header {
    padding: 0;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu > .nav-slide-header {
    padding-left: 20px;
    background: #f3f3f3;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px !important;
    border-bottom: 1px solid var(--Mau_2);
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu > .nav-slide-header > .toggle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    display: block;
    font-weight: 700;
    min-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0 !important;
    line-height: 34px;
    text-transform: uppercase;
    font-size: 16px;
    color: var(--Mau_1);
    margin: 0 !important;
    opacity: 1;
    text-transform: initial;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu > .nav-slide-header > .toggle > i.icon-angle-left {
    position: relative;
    top: -1px;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu > .menu-item {
    border-bottom: 1px solid #ececec;
    padding-left: 15px;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu > .menu-item > a {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    color: inherit;
    display: block;
    font-weight: 500;
    min-height: 34px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 34px;
    font-size: 16px;
    text-transform: initial;
  }
  .mfp-content #main-menu .nav-sidebar > .menu-item > .sub-menu {
    padding-top: 0;
    padding-bottom: 0;
  }
  .logo-left .logo {
    margin-right: 0;
  }
  #masthead .header-inner {
    justify-content: space-around;
  }
  #masthead .mobile-nav .nav-icon .icon-menu {
    font-size: 30px;
    color: var(--Mau_2);
  }
  .button-mobile-right {
    order: 3;
  }
  .button-mobile-right > a.button {
    margin: 0;
    font-size: 10px;
    height: 35px;
    display: flex;
    align-items: center;
  }
  #top-bar {
    display: none;
  }
  .off-canvas-right .mfp-content.off-canvas-cart {
    width: 100%;
    bottom: 0;
    top: unset;
  }
  .mfp-content.off-canvas-cart {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .mobile-nav .header-search-dropdown .nav-dropdown-default {
    border: unset;
    padding: 0;
    background: transparent;
    border-radius: 20px;
  }
  .mobile-nav .header-search-dropdown .nav-dropdown-default .header-search-form-wrapper {
    border: unset;
    background: transparent;
  }
  .mobile-nav .header-search-dropdown .nav-dropdown-default .header-search-form-wrapper ._4rbj {
    border-radius: 20px;
    overflow: hidden;
  }
  .mobile-nav .header-search-dropdown .nav-dropdown-default .header-search-form-wrapper ._4rbj ._8xvf input {
    border: unset;
    box-shadow: unset;
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
  }
  .mobile-nav .header-search-dropdown .nav-dropdown-default .header-search-form-wrapper ._4rbj ._0von .submit-button {
    background: #fff;
    margin: 0;
    border: unset;
    padding: 0;
    box-shadow: unset;
  }
}
@media only screen and (max-width: 550px) {
  #main .section-2 {
    padding: 15px 0;
  }
  #main .section-2 .s2_r1_c1 {
    margin-bottom: 20px;
  }
  #main .section-2 .VideoWebsite .banner-video ._1arc {
    border: 2px solid var(--Mau_1);
    border-radius: 50px 50px 10px 50px;
  }
  #main .section-2 .VideoWebsite ._1blk {
    bottom: 40px;
    min-height: 40px;
    min-width: 40px;
    line-height: 40px;
    margin: 0;
    top: 50%;
    transform: translate(-50%, -50%);
    height: 46px;
    width: 46px;
  }
  #main .section-2 .VideoWebsite ._1blk img {
    width: 40px;
    height: 40px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  #main .section-2 .s2_r1_c2_text h2 {
    font-size: 28px;
  }
  #main .section-3 {
    padding-bottom: 30px;
  }
  #main .section-3 .s3_r1 {
    margin-top: 20px;
    margin-bottom: 15px;
  }
  #main .section-3 .s3_r1 .LabelSubTitle.yellow_mark ._5bsk {
    font-size: 16px;
  }
  #main .section-3 .s3_r1 .heading_home h2 {
    font-size: 24px;
  }
  #main .section-3 .s3_r2 .s3_r2_c {
    margin-bottom: 30px;
  }
  #main .section-3 .BoxChuongTrinh::after {
    display: none;
  }
  #main .section-3 .BoxChuongTrinh ._4vle ._7axb {
    width: 100%;
    height: auto;
    max-height: 500px;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .section-3 .BoxChuongTrinh ._2qse {
    height: 245px;
  }
  #main .section-4 {
    margin-top: -17px;
    padding-bottom: 30px;
  }
  #main .section-4::after {
    background-size: 100% 100%;
    width: 60px;
    height: 50px;
    top: -30px;
  }
  #main .section-4 .text_heading_s4 h2 {
    font-size: 24px;
  }
  #main .section-4 .TabSystem .tab_header {
    margin-bottom: 30px;
  }
  #main .section-4 .TabSystem .tab_header .left_tab_header {
    width: 100%;
  }
  #main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab {
    justify-content: center;
  }
  #main .section-4 .TabSystem .tab_header .left_tab_header .item_header_tab ._0jdt {
    width: 315px;
    flex: unset;
  }
  #main .section-4 .TabSystem .tab_header .right_tab_header {
    display: none;
  }
  #main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ {
    width: calc(100% - 30px);
    margin-bottom: 12px;
  }
  #main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ:nth-last-child(-n+3) {
    margin-bottom: 12px;
  }
  #main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ:last-child {
    margin-bottom: 0;
  }
  #main .section-4 .TabSystem .content_pannel_tab .entry-content ._8imo ._6typ .lightbox-gallery ._6eij {
    display: flex;
    height: 50px;
    bottom: 0px;
    transform: translate(0, 0);
    top: unset;
    background: rgba(255, 255, 255, 0.7882352941);
    left: 0;
    font-size: 15px;
    font-weight: 600;
  }
  #main .section-5 .heading_home h2 {
    font-size: 26px;
  }
  #main .section-5 .s5_r2 {
    margin-top: 25px;
  }
  #main .section-5 .stacking-section {
    margin-top: 0;
  }
  #main .section-5 .stacking-section .cards {
    height: calc(100vh - 100px);
  }
  #main .section-5 .stacking-section .cards::before {
    display: none;
  }
  #main .section-5 .stacking-section .cards .card {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 100px);
    width: 100%;
    padding: 15px;
    border-radius: 20px;
  }
  #main .section-5 .stacking-section .cards .card ._3ykb {
    width: 100%;
    margin-right: 0;
    order: 2;
    flex: 1;
  }
  #main .section-5 .stacking-section .cards .card ._3ykb ._0kts {
    padding-top: 20px;
  }
  #main .section-5 .stacking-section .cards .card ._3ykb ._0kts ._9uln {
    height: auto;
    margin-bottom: 8px;
  }
  #main .section-5 .stacking-section .cards .card ._9vgk {
    order: 1;
    margin-bottom: 20px;
    flex: unset;
    height: 50%;
  }
  #main .section-5 .stacking-section .cards .card ._9vgk ._7xbx {
    border-radius: 20px;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #main .section-6 .heading_s6 h2 {
    margin-bottom: 5px;
  }
  #main .section-6 .s6_r2 .s6_r2_c1 {
    margin-bottom: 40px;
  }
  #main .section-6 .s6_r2 .icon-box-text .text_icon_s6 h3 {
    font-size: 36px;
  }
  #main .section-7 {
    padding-bottom: 70px;
  }
  #main .section-7::after {
    width: 130px;
    height: 150px;
    right: 5px;
    top: -110px;
    background-size: 100%;
  }
  #main .section-7 .text_heading_s7 h2 {
    font-size: 24px;
  }
  #main .section-7 .s7_r2 {
    margin-top: 15px;
  }
  #main .section-8 {
    padding-bottom: 30px;
  }
  #main .section-8 .s8_r1 .s8_r1_c1 {
    width: 100%;
  }
  #main .section-8 .s8_r1 .s8_r1_c1 .LabelSubTitle.green_mark {
    margin-bottom: 20px;
  }
  #main .section-8 .s8_r1 .s8_r1_c1 .text_heading_s8 h2 {
    font-size: 24px;
  }
  #main .section-8 .s8_r1 .s8_r1_c2 {
    width: 100%;
  }
  #main .section-8 .swiper-slide {
    width: 100%;
  }
  #main .section-9 {
    padding: 30px 0;
  }
  #main .section-9 .s9_r1 {
    margin-bottom: 15px;
  }
  #main .section-9 .s9_r1 .heading_s9 h2 {
    font-size: 24px;
  }
  #main .section-10 {
    padding-top: 0;
    padding-bottom: 100px;
  }
  #main .section-10 .s10_r1 .s10_r1_c2 .col-inner {
    padding-left: 15px;
  }
  #main .section-10 .s10_r1 .s10_r1_c2 .col-inner ._2yzs {
    padding: 40px 15px;
    border-radius: 50px 0 0 50px;
  }
  #main .section-10 .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._3kje {
    text-align: center;
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 12px;
  }
  #main .section-10 .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6kxq {
    margin-bottom: 25px;
  }
  #main .section-10 .s10_r1 .s10_r1_c2 .col-inner ._2yzs ._6kxq p {
    font-size: 25px;
  }
  #main .About_2 {
    padding: 30px 0;
  }
  #main .About_2 .ab2_r1_c1 .text_ab2 h2 {
    font-size: 24px;
  }
  #main .About_2::after {
    display: none;
  }
  #main .About_3 {
    padding-bottom: 40px;
  }
  #main .About_3 .ab3_r1 {
    margin-bottom: 20px;
  }
  #main .About_3 .heading_ab3 h2 {
    font-size: 24px;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs {
    flex-wrap: nowrap;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs .tab a {
    width: auto;
    padding: 10px;
    border-radius: 5px 5px 0 0;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs .tab a span {
    font-size: 15px;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs .tab#tab-strategic::before {
    width: 100%;
    height: 75px;
    background-size: 100%;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs .tab#tab-mission::before {
    width: 100%;
    height: 75px;
    background-size: 100%;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs .tab#tab-value::before {
    width: 100%;
    height: 75px;
    background-size: 100%;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .nav-tabs .tab#tab-commitment::before {
    width: 100%;
    height: 75px;
    background-size: 100%;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .tab-panels {
    padding: 15px;
    border-radius: 0 0 10px 10px;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .tab-panels .BoxWebsite .text-box-website {
    width: 100%;
    margin-right: 0;
  }
  #main .About_3 .ab3_r2_c1 .tab_hanh_trinh .tab-panels .BoxWebsite .text-box-website ._3tbm p {
    font-size: 15px;
  }
  #main .About_4 {
    margin-top: -18px;
    padding-bottom: 30px;
  }
  #main .About_4 .ab4_r1_c1 .text_heading_ab4 h2 {
    font-size: 24px;
  }
  #main .About_4 .ab4_r1 {
    margin-bottom: 15px;
  }
  #main .About_5 {
    padding-top: 15px;
  }
  #main .About_5 .text_heading_ab5 h2 {
    font-size: 24px;
  }
  #main .About_5 .ab5_r2 {
    margin-top: 20px;
  }
  #main .About_5 .ab5_slide_r1_c1 {
    margin-bottom: 15px;
  }
  #main .About_6 {
    padding-bottom: 150px;
  }
  #main .About_6 .text_heading_ab6 h2 {
    font-size: 24px;
  }
  #main .breadcumbs_head .details_breadcumbs {
    width: 100%;
  }
  #main .Program_1 {
    padding-bottom: 50px;
  }
  #main .Program_1 .Program {
    left: 0;
  }
  #main .Program_1 .Program .HeaderTab {
    margin-bottom: 20px;
  }
  #main .Program_1 .Program .TabContent .NavigationTab .TabNext,
  #main .Program_1 .Program .TabContent .NavigationTab .TabPrev {
    z-index: 2;
  }
  #main .Program_1 .Program .TabContent .NavigationTab .TabNext {
    right: -15px;
  }
  #main .Program_1 .Program .TabContent .NavigationTab .TabPrev {
    left: -15px;
  }
  #main .Program_1 .Program .TabContent .entry-content ._9yga ._5wax {
    right: 40px;
    top: -15px;
  }
  #main .Program_1 .Program .TabContent .entry-content ._9yga ._5wax img {
    width: 80px;
  }
  #main .Program_1 .Program .TabContent .entry-content ._9yga ._2sxn {
    width: 100%;
    height: auto;
    padding: 75px 20px 55px 35px;
    background-size: 100% 100%;
  }
  #main .Program_1 .Program .TabContent .entry-content ._9yga ._2sxn ._3yaj {
    width: 150px;
    height: 75px;
    top: -5px;
    left: -12px;
    background-size: 100%;
  }
  #main .Program_1 .Program .TabContent .entry-content ._9yga ._2sxn ._2cjk ._0cff {
    font-size: 24px;
    margin-bottom: 10px;
  }
  #main .Program_2 {
    padding-top: 30px;
    padding-bottom: 70px;
  }
  #main .Program_2::after {
    width: 145px;
    height: 160px;
    top: -125px;
    left: 0;
    background-size: 100%;
  }
  #main .Program_2 .p2_r1 .heading_p2 h2 {
    font-size: 24px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple {
    -moz-column-gap: 12px;
         column-gap: 12px;
    flex-wrap: nowrap;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab > a span {
    font-size: 16px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab#tab-see {
    height: 130px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab#tab-play {
    height: 170px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab#tab-act {
    height: 205px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab#tab-revise {
    height: 240px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab#tab-keep {
    height: 275px;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .nav-simple .tab#tab-keep > a span {
    max-width: 120px;
    text-align: center;
  }
  #main .Program_2 .p2_r2 .tab_tien_trinh .tab-panels {
    padding: 15px;
    padding-top: 25px;
  }
  #main .Program_2 .p2p_r2 .p2p_r2_c {
    margin-bottom: 15px;
  }
  #main .Program_3 {
    margin-top: -18px;
    padding-bottom: 80px;
  }
  #main .Program_3::after {
    width: 100px;
    height: 110px;
    left: 50%;
    top: -65px;
    background-size: 100%;
  }
  #main .Program_3 .p3_r1 .heading_p3 h2 {
    margin-top: 20px;
    font-size: 24px;
  }
  #main .Program_3 .p3_r2 {
    padding-top: 12px;
  }
  #main .Program_3 .p3_r2 .p3_r2_c1 {
    margin-bottom: 20px;
  }
  #main .Program_4 {
    margin-top: -18px;
    padding-bottom: 160px;
  }
  #main .Program_4::after {
    width: 150px;
    height: 115px;
    left: 50%;
    top: -60px;
    background-size: 100%;
  }
  #main .Program_4 .heading_p4 {
    margin-top: 20px;
  }
  #main .Program_4 .heading_p4 h2 {
    font-size: 24px;
  }
  #main .Program_4 .p4_r2 .tab_p4 .nav-simple {
    width: 100%;
    margin-bottom: 20px;
  }
  #main .Program_4 .p4_r2 .tab_p4 .tab-panels {
    width: 100%;
    flex: unset;
    height: auto;
  }
  #main .Program_4 .p4_r2 .tab_p4 .tab-panels .entry-content .tab_p4_r1 {
    position: relative;
    padding: 15px 0;
    left: 15px;
    top: 0;
    transform: unset;
  }
  #main .Program_4 .p4_r2 .tab_p4 .tab-panels .entry-content .tab_p4_r1 .tab_p4_r1_c1 {
    margin-bottom: 20px;
  }
  #main .Program_4 .p4_r2 .tab_p4 .tab-panels .entry-content .tab_p4_r1 .text_content_p4 {
    padding-bottom: 20px;
  }
  #main .Program_5 {
    padding-bottom: 0;
  }
  #main .Program_5 .heading_p5 {
    margin-top: 20px;
  }
  #main .Program_5 .heading_p5 h2 {
    font-size: 24px;
  }
  #main .Program_5 .p5_r2 {
    margin-top: 10px;
  }
  #main .Program_5 .p5_r2 .html_p5 {
    padding: 15px 15px 15px 30px;
  }
  #main .Program_5 .p5_r2 .html_p5 ._8abc ._5lsg {
    margin-right: 0;
    margin-bottom: 20px;
  }
  #main .Procedure_1 {
    padding-bottom: 40px;
  }
  #main .Procedure_1 .heading_pro1 h2 {
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    font-size: 18px;
  }
  #main .Procedure_1 .pro2_r1 {
    margin-top: 35px;
  }
  #main .Procedure_1 .pro2_r1 .BoxQuyTrinh {
    padding: 15px;
  }
  #main .Procedure_1 .pro2_r1 .BoxQuyTrinh .image-box-website {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px;
  }
  #main .Procedure_1 .pro2_r1 .BoxQuyTrinh .image-box-website ._3gvm {
    position: relative;
    left: 20px;
    top: 0;
    transform: unset;
    margin-bottom: 15px;
  }
  #main .Procedure_1 .pro2_r1 .BoxQuyTrinh .text-box-website {
    width: 100%;
  }
  #main .Procedure_1 .pro2_r1 .BoxQuyTrinh .text-box-website ._7reh {
    position: relative;
    left: 20px;
    top: 0;
    transform: unset;
    margin-bottom: 15px;
  }
  #main .Procedure_2 .pro1_r1 .heading_pro2 {
    margin-top: 40px;
  }
  #main .Procedure_2 .pro1_r1 .heading_pro2 h2 {
    font-size: 24px;
  }
  #main .Procedure_2 .heading_pro2_r2 {
    margin-bottom: 25px;
  }
  #main .Procedure_2 .heading_pro2_r2 h2 {
    background-size: 100% 100%;
    width: 100%;
    height: 50px;
    font-size: 18px;
    margin-bottom: 30px;
  }
  #main .Procedure_2 .text_list_pro2 ul li {
    margin-left: 30px;
  }
  #main .Procedure_2 .pro2_r3_c1 {
    margin-bottom: 20px;
  }
  #main .Procedure_3 {
    margin-top: -18px;
    padding-bottom: 120px;
  }
  #main .Procedure_3 .heading_pro3 {
    margin-top: 20px;
  }
  #main .Procedure_3 .heading_pro3 h2 {
    font-size: 24px;
  }
  #main .Procedure_3 .dvls_maps_header_right {
    width: 100%;
  }
  #main .Procedure_3 .dvls_maps_header_right .dvls_maps_3col {
    flex-wrap: wrap;
  }
  #main .Procedure_3 .dvls_maps_header_right .dvls_maps_3col .dvls_maps_col {
    width: 100%;
    margin-right: 0;
  }
  #main .Procedure_3 .dvls_maps_wrap .dvls_maps_container .dvls_maps_body {
    margin-top: 0;
  }
  #main .Procedure_3 .dvls_maps_sidebar {
    margin-bottom: 15px;
  }
  #main .Procedure_3 .dvls_maps_wrap .dvls_maps_container > .dvls_maps_header {
    background: #f1f1f1;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-radius: 5px;
  }
  #main .SectionPost_1 .heading_sp1 {
    margin-top: 40px;
  }
  #main .SectionPost_1 .heading_sp1 h2 {
    font-size: 24px;
  }
  #main .SectionPost_1 .sp1_r2 .blog_post_1 .box-blog-post .box-image .image-cover img {
    border-radius: 8px;
  }
  #main .SectionPost_1 .sp1_r2 .blog_post_1 .post-item {
    padding-bottom: 0;
  }
  #main .SectionPost_1 .sp1_r2 .blog_post_1 .box-blog-post .box-text .post-title {
    margin-bottom: 10px;
  }
  #main .SectionPost_1 .sp1_r2 .blog_post_1 .box-blog-post .box-text .post-title .plain {
    font-size: 24px;
  }
  #main .SectionPost_1 .sp1_r3 .ListBlogsVinaWind ._2nmo {
    width: calc(100% - 20px);
  }
  #main .archive-block ._2gfm {
    margin-top: 30px;
  }
  #main .archive-block ._2gfm ._2nmo {
    width: calc(100% - 20px);
  }
  #main .Contact_1 {
    padding-top: 30px;
  }
  #main .Contact_1 .contact1_r1_c1 ._3rir.FormHS {
    width: 100%;
    height: 100%;
    padding: 30px 15px 40px 35px;
  }
  #main .Contact_1 .contact1_r1_c1 ._3rir.FormHS ._9mwu {
    font-size: 24px;
  }
  #main .Contact_1 .contact1_r1_c2 {
    margin-top: 30px;
  }
  #main .Contact_1 .contact1_r1_c2 ._3rir.FormPH {
    width: 100%;
    height: 100%;
    padding: 30px 15px 40px 35px;
  }
  #main .Contact_1 .contact1_r1_c2 ._3rir.FormPH ._9mwu {
    font-size: 24px;
  }
  #footer .section-footer {
    padding-bottom: 30px;
  }
  #footer .section-footer-menu .sftm_r1_c1,
  #footer .section-footer-menu .sftm_r1_c2,
  #footer .section-footer-menu .sftm_r1_c3 {
    margin-bottom: 20px;
  }
  #footer .section-footer-menu .block_html.has-margin-top {
    margin-top: 0;
  }
  #footer .section-footer-menu .sftm_r1_c2 .block_html.has-margin-top {
    margin-top: 110px;
  }
  .wave-container {
    max-height: 12px;
  }
  .wave-container.wave_s2 ._5wqe {
    width: 75px;
    position: absolute;
    z-index: 1;
    top: -20px;
    right: 10px;
    animation: floatWave 2s ease-in-out infinite;
  }
  .wave-container.wave_s4 ._5wqe {
    width: 100px;
    top: -25px;
  }
  .wave-container.wave_p4 ._5wqe {
    width: 100px;
    top: -65px;
  }
  .wave-container.wave_s5 {
    margin-top: -10px;
  }
  .wave-container.wave_s5 ._5wqe {
    width: 100px;
    right: 10px;
    top: -40px;
  }
  .wave-container.wave_s7 {
    margin-top: -10px;
  }
  .wave-container.wave_s7 ._5wqe {
    width: 130px;
    left: 30px;
    top: -85px;
  }
}